# PyCity Schools Analysis

- Your analysis here
  
---

In [97]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(20)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635

## District Summary

In [98]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [99]:
# Calculate the total number of students
student_count = len(school_data_complete["student_name"].unique()) 
student_count

32715

In [100]:
# Calculate the total budget
total_budget = school_data_complete["budget"].sum()
total_budget

82932329558

In [101]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [102]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [103]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

89.77533241632278

In [104]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

102.73574812777014

In [105]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

78.031484028733

In [106]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    'Total_Schools': [school_count],
    'Total_Students': [student_count],
    'Total_Budget': [total_budget],
    'Average_Math_Score': [average_math_score],
    'Average_Reading_Score': [average_reading_score],
    'Passing_Math_percent': [passing_math_percentage],
    'Passing_Reading_percent': [passing_reading_percentage],
    'Overall_Passing_Rate': [overall_passing_rate]
})

# Formatting
district_summary["Total_Students"] = district_summary["Total_Students"].map("{:,}".format)
district_summary["Total_Budget"] = district_summary["Total_Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary = pd.DataFrame(district_summary)
district_summary.head()

,Total_Schools,Total_Students,Total_Budget,Average_Math_Score,Average_Reading_Score,Passing_Math_percent,Passing_Reading_percent,Overall_Passing_Rate
0,15,"32,715","$82,932,329,558.00",78.985371,81.87784,89.775332,102.735748,78.031484

## School Summary

In [107]:
# Use the code provided to select all of the school types
school_types =  (school_data_complete["school_name"].unique()) 
school_types

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [108]:
# Calculate the total student count per school
per_school_counts = school_data_complete.groupby(['school_name'])['student_name'].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [109]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete.groupby(['school_name'])['budget'].sum()
per_school_capita = per_school_budget/school_data_complete['student_name'].count() 
per_school_budget

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

In [110]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby(['school_name'])['math_score'].mean()
per_school_reading = school_data_complete.groupby(['school_name'])['reading_score'].mean()
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [111]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete ['math_score'] >=70
school_students_passing_math = school_data_complete[students_passing_math].groupby(['school_name'])['student_name'].count()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [112]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete ['reading_score'] >=70
school_students_passing_reading = school_data_complete[students_passing_reading].groupby(['school_name'])['student_name'].count()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [113]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading.head()

school_name
Bailey High School      2719
Cabrera High School     1697
Figueroa High School    1569
Ford High School        1487
Griffin High School     1330
dtype: int64

In [114]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [115]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    'School_name' : [school_data_complete['school_name']],
    'school_types' : [school_types],
    'per_school_counts' : [per_school_counts],
    'Per Student Budget' : [per_school_capita],
    'Total School Budget' : [per_school_budget],
    'students_passing_math' : [students_passing_math],
    'students_passing_reading' : [students_passing_reading],
    'per_school_math' : [per_school_passing_math],
    'per_school_reading' : [per_school_passing_reading],
    'overall_passing_rate' : [overall_passing_rate]
})

# Formatting
# per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
# per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary = pd.DataFrame(per_school_summary)
per_school_summary

,School_name,school_types,per_school_counts,Per Student Budget,Total School Budget,students_passing_math,students_passing_reading,per_school_math,per_school_reading,overall_passing_rate
0,0 Huang High School 1 Huang Hi...,"[Huang High School, Figueroa High School, Shel...",school_name Bailey High School 4976 Cabr...,school_name Bailey High School 396978.34...,school_name Bailey High School 155496417...,0 True 1 False 2 False 3...,0 False 1 True 2 True 3...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...

## Highest-Performing Schools (by % Overall Passing)

In [116]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by='overall_passing_rate', ascending=False)

top_schools.head(5)

,School_name,school_types,per_school_counts,Per Student Budget,Total School Budget,students_passing_math,students_passing_reading,per_school_math,per_school_reading,overall_passing_rate
0,0 Huang High School 1 Huang Hi...,"[Huang High School, Figueroa High School, Shel...",school_name Bailey High School 4976 Cabr...,school_name Bailey High School 396978.34...,school_name Bailey High School 155496417...,0 True 1 False 2 False 3...,0 False 1 True 2 True 3...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...

## Bottom Performing Schools (By % Overall Passing)

In [117]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by='overall_passing_rate', ascending=True)
bottom_schools.head(5)

,School_name,school_types,per_school_counts,Per Student Budget,Total School Budget,students_passing_math,students_passing_reading,per_school_math,per_school_reading,overall_passing_rate
0,0 Huang High School 1 Huang Hi...,"[Huang High School, Figueroa High School, Shel...",school_name Bailey High School 4976 Cabr...,school_name Bailey High School 396978.34...,school_name Bailey High School 155496417...,0 True 1 False 2 False 3...,0 False 1 True 2 True 3...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...

## Math Scores by Grade

In [118]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(['school_name'])['math_score'].mean()
tenth_grader_math_scores = tenth_graders.groupby(['school_name'])['math_score'].mean()
eleventh_grader_math_scores = eleventh_graders.groupby(['school_name'])['math_score'].mean()
twelfth_grader_math_scores = twelfth_graders.groupby(['school_name'])['math_score'].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    'ninth graders' : [ninth_grade_math_scores],
    'tenth graders' : [tenth_grader_math_scores],
    'eleventh graders' : [eleventh_grader_math_scores],
    'twelfth graders' : [twelfth_grader_math_scores],
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

,ninth graders,tenth graders,eleventh graders,twelfth graders
0,school_name Bailey High School 77.083676...,school_name Bailey High School 76.996772...,school_name Bailey High School 77.515588...,school_name Bailey High School 76.492218...

## Reading Score by Grade

In [119]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(['school_name'])['reading_score'].mean()
tenth_grader_reading_scores = tenth_graders.groupby(['school_name'])['reading_score'].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby(['school_name'])['reading_score'].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby(['school_name'])['reading_score'].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    '9th' : [ninth_grade_reading_scores],
    '10th' : [tenth_grader_reading_scores],
    '11th' : [eleventh_grader_reading_scores],
    '12th' : [twelfth_grader_reading_scores],
})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

,9th,10th,11th,12th
0,school_name Bailey High School 81.303155...,school_name Bailey High School 80.907183...,school_name Bailey High School 80.945643...,school_name Bailey High School 80.912451...

## Scores by School Spending

In [120]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [121]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [122]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut('school_spending', spending_bins,labels= labels, include_lowest= True)
school_spending_df

ValueError: Input array must be 1 dimensional

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    'spending math scores': [spending_math_scores],
    'spending reading scores': [spending_reading_scores],
    'spending passing math': [spending_passing_math],
    'spending passing reading':[spending_passing_reading],
    'overall spending passing':[overall_passing_spending]
})

# Display results
spending_summary.head()

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] =  pd.cut('school_spending', spending_bins,labels= labels, include_lowest= True)
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = ({
    'size_math_scores' : [size_math_scores],
    'size_reading_scores' : [size_reading_scores],
    'size_passing_math' : [size_passing_math],
    'size_passing_reading' : [size_passing_reading],
    'size_overall_passing' : [size_overall_passing]
})

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
t0ype_summary = {[
   'average_math_score_by_type': [average_math_score_by_type],
   'average_reading_score_by_type': [average_reading_score_by_type],
   'average_percent_passing_math_by_type' : [average_percent_passing_math_by_type],
   'average_percent_passing_reading_by_type' : [average_percent_passing_reading_by_type],
   'average_percent_overall_passing_by_type' : [average_percent_overall_passing_by_type]
]}

# Display results
type_summary.head()